<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <p>
        Please enter your UserId and new password
    </p>
    <form action = "/homepage/forgotpassword" method = "POST">
    <div>
        <input type="text" id="email" name="email" placeholder="Enter userId" required>
        <br>
        <br>
    </div>
    <div>
        <input type= "text" id="password" name="password" placeholder="Enter New Password" required>
        <br>
        <br>
    </div>
    <button type="submit">Change</button>
    </form>
</body>
</html>