<!DOCTYPE html>
<html>
<head>
    <title>
        LOGIN PAGE
    </title>
</head>
<body>
    <p>LOGIN PLEASE</p>
    <form action = "/homepage/login" method = "POST">
    <div>
        <input type="text" id="email" name="email" placeholder="Enter userId" required>
        <br>
        <br>
    </div>
    <div>
        <input type= "text" id="password" name="password" placeholder="Enter Password" required>
        <br>
        <br>
    </div>
    <button type="submit">LogIn</button>
    </form>
    <br>
    <a href = "/homepage/signup">SignUp</a>
</body>
</html>