<!DOCTYPE html>
<html>
<head>
    <title>
        LOGIN PAGE
    </title>
</head>
<body>
    <p>SIGNUP PLEASE</p>
    <form action = "/homepage/signup" method = "POST">
    <div>
        <input type="text" id="name" name="name" placeholder="Enter Full Name" required>
        <br>
        <br>
    </div>
    <div>
        <input type="text" id="email" name="email" placeholder="Enter userId" required>
        <br>
        <br>
    </div>
    <div>
        <input type= "text" id="password" name="password" placeholder="Enter Password" required>
        <br>
        <br>
    </div>
    <button type="submit">SignUp</button>
    </form>
        <br>
    <a href = "/homepage/login">LogIn</a>
</body>
</html>